<h1 class="font-bold text-lg"><img width="64" src="/chat_room_header.png" />Public Chat Room </h1>
<section class="glass-borders"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/msgbg.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <form id="form" class="p-4 message-box h-[70vh] flex flex-col justify-between ">
        <div id="message_box" class="overflow-y-auto ">
            <ul id="messages">
                <% chats.forEach(chat=> { %>
                    <li class="my-4">

                        <div class="flex flex-col">
                            <span class="text-sm">
                                <%= chat.sender.username%>
                                    <strong class="block">
                                        <%= chat.message %>
                                    </strong>
                            </span>

                        </div>
                    </li>
                    <% }) %>
            </ul>
        </div>
        <div class="flex gap-2">
            <input type="text" id="message-input"  autofocus class="message-input outline-none aero-borders w-full p-2 rounded-sm"
              >
            <button type="submit" class="styled-button">Send</button>
        </div>

    </form>



</section>


<script>
    const socket = new WebSocket(`ws://${window.location.host}`)
    const form = document.getElementById('form')
    const input = document.getElementById("message-input")
    const messages = document.getElementById("messages")
    const message_box = document.getElementById("message_box")

    const user = "<%= user.username %>"

    // send message to the server
    socket.onopen = () => {
        // socket.send("<%= user.username %> joined the chat.")
        socket.send(JSON.stringify({
            type: 'join',
            broadcast: 'public',
            user: {
                username: "<%= user.username %>",
                id: parseInt("<%= user.id %>")
            }
        }))

        message_box.scrollTop = message_box.scrollHeight
    }

    // receive message from the server
    socket.onmessage = (event) => {
        const li = document.createElement('li');
        console.log(event)
        const data = JSON.parse(event.data)
        if (data.type == 'chat') {
            let username = data.data.user
            const message = data.data.message
            li.classList.add("my-4")
            li.innerHTML = `<div class="flex flex-col gap-1">
                <span class="text-sm">${username}</span>
                <strong>${message}</strong>
            </div>`

            messages.append(li)
        } else {
            li.innerHTML = data.message
            messages.append(li)
        }
        message_box.scrollTop = message_box.scrollHeight


    }

    form.addEventListener("submit", (e) => {
        e.preventDefault();
        const message = input.value;

        socket.send(JSON.stringify({ type: 'chat', broadcast: 'public', user, message }))

        input.value = ''
        message_box.scrollTop = message_box.scrollHeight

    })


</script>