<section class="h-[100vh] flex justify-center py-4 px-2 ">

    <form id="form" class="p-4 box rounded-sm sm:w-1/2  flex flex-col gap-4 justify-between">
        <div class="flex gap-2">
            <a href="/users/dashboard" class="box p-2 rounded-sm hover:shadow-md"><i>back</i></a>
            <h1 class="text-3xl font-bold">Public Chat Room 🌏</h1>
        </div>
        <div class="border border-gray-200 rounded-sm p-2 overflow-y-scroll flex-1">
            <ul id="messages">
                <% chats.forEach(chat=> { %>
                        <li>

                    <% if (chat.type == "left" ) {%>
                            <span class="text-red-500"><%= chat.message %></span>
                    <% } else if (chat.type == "join") { %>
                            <span class="text-green-500"><%= chat.message %></span>
                    <% } else { %>

                        <span class="<% if (chat.sender.username==user.username) {   %> font-bold text-green-700 <% } %>">
                            <%= chat.sender.username%>
                        </span>
                        : <%= chat.message %>
                    <% } %>
                        </li>
                    <% }) %>
            </ul>

        </div>
        <div class="flex gap-2">
            <input type="text" id="message-input" class="flex-1 p-2 border border-gray-200 outline-none rounded-sm"
                placeholder="Enter a message">
            <button type="submit" class="p-2 box text-black  cursor-pointer">Send</button>
        </div>

    </form>



</section>


<script>
    const socket = new WebSocket(`ws://${window.location.host}`)
    const form = document.getElementById('form')
    const input = document.getElementById("message-input")
    const messages = document.getElementById("messages")

    const user = "<%= user.username %>"

    // send message to the server
    socket.onopen = () => {
        // socket.send("<%= user.username %> joined the chat.")
        socket.send(JSON.stringify({
            type: 'join',
            broadcast: 'public',
            user: {
                username: "<%= user.username %>",
                id: parseInt("<%= user.id %>")
            }
        }))
    }

    // receive message from the server
    socket.onmessage = (event) => {
        const li = document.createElement('li');
        console.log(event)
        const data = JSON.parse(event.data)
        if (data.type == 'chat') {
            let username = data.message.split(":")[0]
            const message = data.message.split(":")[1];

            if (username == user) {
                li.innerHTML = `<b class="text-green-700">${user}</b>: ${message}`
            } else {
                li.innerHTML = `${username}: ${message}`
            }
            messages.append(li)
        } else {
            li.innerHTML = data.message
            messages.append(li)
        }


    }

    form.addEventListener("submit", (e) => {
        e.preventDefault();
        const message = input.value;

        socket.send(JSON.stringify({ type: 'chat', broadcast: 'public', user, message }))

        input.value = ''
    })


</script>