<section class="glass-borders">

    <form
        action="/users/my-profile/update"
        method="post"
        class="styled-container aero-borders">
     
        <div>
            <label for="" class="block text-gray-50">Year</label>
            <select name="year_level" id=""
                class="styled-button w-full appearance-none ">
                <option class="bg-slate-900 text-gray-50" disabled <%= !user.profile || !user.profile.year_level ? 'selected' : '' %>>Please select</option>
                <option class="bg-slate-900 text-gray-50" value="SHS" <%= user.profile && user.profile.year_level === 'SHS' ? 'selected' : '' %>>SHS</option>
                <option class="bg-slate-900 text-gray-50" value="freshman" <%= user.profile && user.profile.year_level === 'freshman' ? 'selected' : '' %>>Freshman</option>
                <option class="bg-slate-900 text-gray-50" value="sophomore" <%= user.profile && user.profile.year_level === 'sophomore' ? 'selected' : '' %>>Sophomore</option>
                <option class="bg-slate-900 text-gray-50" value="junior" <%= user.profile && user.profile.year_level === 'junior' ? 'selected' : '' %>>Junior</option>
                <option class="bg-slate-900 text-gray-50" value="senior" <%= user.profile && user.profile.year_level === 'senior' ? 'selected' : '' %>>Senior</option>
            </select>
        </div>
        
        <div>
            <label for="" class="block text-gray-50">Gender</label>
            <select name="gender" id=""
                class="styled-button w-full appearance-none text-left p-2">
                <option  class="bg-slate-900 text-gray-50" value="male" <%= user.profile && user.profile.gender === 'male' ? 'selected' : '' %>>Male</option>
                <option class="bg-slate-900 text-gray-50" value="female" <%= user.profile && user.profile.gender === 'female' ? 'selected' : '' %>>Female</option>
            </select>
        </div>

        <div>
            <label for="" class="block text-gray-50">Hobbies</label>
            <input type="text" placeholder="Hobby 1" name="hobby_1"
                value="<%= user.profile ? user.profile.hobby_1 : '' %>"
                class="w-full bg-white p-2 outline-none">

            <input type="text" placeholder="Hobby 2" name="hobby_2"
                value="<%= user.profile ? user.profile.hobby_2 : '' %>"
                class="w-full bg-white p-2 outline-none mt-2">

        </div>

        <div>
            <label for="" class="block text-gray-50">Not good at...</label>
            <input type="text" placeholder="" name="not_good"
                value="<%= user.profile ? user.profile.not_good : '' %>"
                class="w-full bg-white p-2 outline-none mt-2">

        </div>

        <div class="my-4 styled-container aero-borders">
            <textarea name="bio" class="w-full bg-white p-2 outline-none" placeholder="Describe yourself"><%= user.profile ? user.profile.bio : '' %></textarea>
        </div>



        <div class="flex flex-row gap-2">
            <button type="submit" class="styled-button">Confirm</button>
            <a class="styled-button" href="/users/my-profile">Discard & Go back</a>
        </div>


    </form>

</section>