<section class="h-[100vh] flex justify-center py-4 px-2 ">

    <form id="form" class="p-4 box rounded-sm sm:w-1/2  flex flex-col gap-4 justify-between">
        <div class="flex gap-2">
            <a href="/users/dashboard" class="box p-2 rounded-sm hover:shadow-md"><i>back</i></a>
            <h1 class="text-3xl font-bold">Chatting with: <%= chat_with.username %></h1>
        </div>
        <div class="border border-gray-200 rounded-sm p-2 overflow-y-scroll flex-1">
            <ul id="messages"></ul>

            <pre>
            </pre>

        </div>
        <div class="flex gap-2">
            <input type="text" id="message-input" class="flex-1 p-2 border border-gray-200 outline-none rounded-sm"
                placeholder="Enter a message">
            <button type="submit" class="p-2 box text-black  cursor-pointer">Send</button>
        </div>

    </form>
</section>

<script>

    const form = document.getElementById("form")
    const input = document.getElementById("message-input")
    const socket = new WebSocket(`ws://${window.location.host}`)
    const messages = document.getElementById("messages")
    console.log("<%= JSON.stringify(chats) %>")
    socket.onopen = () => {
        socket.send(JSON.stringify({
            type: 'join',
            broadcast: 'private',
            user: {
                username: "<%= user.username %>",
                id: parseInt("<%= user.id %>")
            }
        }))
        console.log("connected")
    }

    socket.onmessage = (event) => {
        // console.log(event)

        const li = document.createElement("li");
        const data = JSON.parse(event.data)
        li.innerHTML =  data.message;
        messages.append(li)
        input.value = ''

    }

    form.addEventListener("submit", (e) => {
        e.preventDefault();

        const message = input.value;

        socket.send(JSON.stringify({
            type: 'chat',
            broadcast: 'private',
            message,
            sender: JSON.stringify("<%= user %>"),
            receiver: parseInt("<%= chat_with.id  %>")
        }))

        const li = document.createElement("li");
        li.innerHTML = message;
        messages.append(li)
        input.value = ''
    })



</script>