<section class="h-[100vh] glass-borders flex justify-between  gap-2" 
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/msgbg.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">

    <div class="h-full flex flex-col w-[300px] styled-container aero-borders border border-gray-200">

        <h1>
            <span class="text-gray-50 font-bold block">
                <%= chat_with.username %>
            </span>
            <span class="text-gray-400 text-xs block">
                <%= chat_with.createdAt %>
            </span>
        </h1>


        <div class="aero-borders rounded-sm p-2 mt-2">
            <span class="text-gray-400 text-sm">ID: <%= chat_with.id_number %> </span>
        </div>

    </div>

    <form id="form" class="flex-1 message-box flex flex-col gap-4 justify-between">
        <!-- <div class="flex gap-2">
            <a href="/users/dashboard" class="box p-2 rounded-sm hover:shadow-md"><i>back</i></a>
            <h1 class="text-3xl font-bold">Chatting with: <%= chat_with.username %>
            </h1>
        </div> -->
        <div id="message-box" class="overflow-y-scroll flex-1">
            <ul id="messages" class="p-2 text-black">
                <% chats.forEach((chat)=> { %>
                    <li class="my-4 text-wrap">
                        <div class="flex flex-row justify-between">
                            <span class="text-sm">
                                <%= chat.sender.username %>
                            </span>
                            <span class="text-xs" id="date">
                                <%= chat.createdAt %>
                            </span>
                        </div>
                        <strong class="text-wrap">
                            <%= chat.message %>
                        </strong>
                    </li>
                    <% })%>

            </ul>

            <pre>
            </pre>

        </div>
        <div class="flex gap-2 py-2 px-4">
            <input type="text" id="message-input" autofocus class="message-input w-full p-2 outline-none"
                placeholder="Enter a message">
            <button type="submit" class="p-2 box text-black cursor-pointer rounded-lg">Send</button>
        </div>

    </form>
</section>

<script>

    const form = document.getElementById("form")
    const input = document.getElementById("message-input")
    const socket = new WebSocket(`ws://${window.location.host}`)
    const messages = document.getElementById("messages")
    const date = document.getElementById("date")
    const message_box = document.getElementById("message-box")



    socket.onopen = () => {
        socket.send(JSON.stringify({
            type: 'join',
            broadcast: 'private',
            user: {
                username: "<%= user.username %>",
                id: parseInt("<%= user.id %>")
            }
        }))
        message_box.scrollTop = message_box.scrollHeight
    }

    socket.onmessage = (event) => {
        const li = document.createElement("li");
        const data = JSON.parse(event.data)
        // li.innerHTML = 

        console.log(data)


        // li.innerHTML = `<span class="bg-yellow-200 p-1 rounded-sm">${data.from.username}</span> ${data.message}`

        li.classList.add("my-4")
        li.innerHTML = `
            <div class="flex flex-row justify-between">
                <span class="text-sm">${data.from.username}</span>
                <span class="text-xs" id="date">${new Date()}</span>
            </div>
            <strong>${data.message}</strong>
        `

        messages.append(li)
        input.value = ''

        message_box.scrollTop = message_box.scrollHeight

    }

    form.addEventListener("submit", (e) => {
        e.preventDefault();

        const message = input.value;

        socket.send(JSON.stringify({
            type: 'chat',
            broadcast: 'private',
            message,
            sender: JSON.stringify("<%= user %>"),
            receiver: parseInt("<%= chat_with.id  %>")
        }))

        const li = document.createElement("li");


        // li.innerHTML = `<span class="bg-green-200 p-1 rounded-sm"><%= user.username %></span> ${message}`
        li.classList.add("my-4")
        li.innerHTML = `
            <div class="flex flex-row justify-between">
                <span class="text-sm"><%= user.username %></span>
                <span class="text-xs" id="date">${new Date()}</span>
            </div>
            <strong class="text-wrap">${message}</strong>
        `
        messages.append(li)
        input.value = ''

        message_box.scrollTop = message_box.scrollHeight

    })



</script>