<section class="flex justify-center py-4 px-2 glass-borders">
    <div
        class="styled-container aero-borders flex-1">

        <h1>My Profile</h1>

        <div class="text-white styled-container aero-borders my-2">
            <p>Username: <%= user.username %>
            </p>
            <p>ID: <%= user.id_number %>
            </p>


            <div
                class="styled-container aero-borders">
                <p>Year Level: <%= user.profile ? user.profile.year_level : ''   %>
                </p>
                <p>Gender: <%= user.profile ? user.profile.gender : ''   %>
                </p>
                <p>Hobbies: <%= user.profile ? user.profile.hobby_1 : ''   %>, <%= user.profile ? user.profile.hobby_2 : ''   %>
                </p>
                <p class="lowercase ">Not so good at: <%= user.profile ? user.profile.not_good : ''   %>
                </p>

                <p class="block font-bold">Bio</p>
                <div class="glass-borders">
                    <p class="">
                        <%= user.profile ? user.profile.bio : ''   %>
                    </p>
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-2">
            <a href="/users/my-profile/edit"
                class="styled-button">Edit</a>
            <a class="styled-button"
                href="/">Go back</a>
        </div>

    </div>

</section>