<section class="flex justify-center py-4 px-2 glass-borders">
    <div
        class="styled-container aero-borders flex-1">

        <h1>My Profile</h1>

        <div class="text-white styled-container aero-borders my-2">
            <p><strong>Username:</strong> <%= user.username %>
            </p>
            <p><strong>ID:</strong> <%= user.id_number %>
            </p>

            <span><%= user.profile.gender %></span>
            <div
                class="styled-container aero-borders">
                <p><strong>Year Level:</strong> <%= user.profile ? user.profile.year_level : ''   %>
                </p>
                <p><strong>Gender:</strong> <%= user.profile ? user.profile.gender : ''   %>
                </p>
                <p><strong>Hobbies:</strong> <%= user.profile ? user.profile.hobby_1 : ''   %> & <%= user.profile ? user.profile.hobby_2 : ''   %>
                </p>
                <p ><strong>Not so good at:</strong> <%= user.profile ? user.profile.not_good : ''   %>
                </p>
                <p class="block font-bold">Bio</p>
                <div class="glass-borders">
                    <p class="">
                        <%= user.profile ? user.profile.bio : ''   %>
                    </p>
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-2">
            <a href="/users/my-profile/edit"
                class="styled-button">Edit</a>
            <a class="styled-button"
                href="/">Go back</a>
        </div>

    </div>

</section>